
body {
  background: #3388ff;
  overflow: hidden;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}



.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  transform-origin: center center; /* Ensure scaling happens from the center */
}

.small {
  width: 20vmin; /* Relative to the smaller viewport dimension */
  height: 20vmin;
  left: -10vmin;
  bottom: -10vmin;
}

.medium {
  width: 40vmin;
  height: 40vmin;
  left: -20vmin;
  bottom: -20vmin;
}

.large {
  width: 60vmin;
  height: 60vmin;
  left: -30vmin;
  bottom: -30vmin;
}

.xlarge {
  width: 80vmin;
  height: 80vmin;
  left: -40vmin;
  bottom: -40vmin;
}

.xxlarge {
  width: 100vmin;
  height: 100vmin;
  left: -50vmin;
  bottom: -50vmin;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .small {
    width: 15vmin;
    height: 15vmin;
    left: -7.5vmin;
    bottom: -7.5vmin;
  }

  .medium {
    width: 30vmin;
    height: 30vmin;
    left: -15vmin;
    bottom: -15vmin;
  }

  .large {
    width: 45vmin;
    height: 45vmin;
    left: -22.5vmin;
    bottom: -22.5vmin;
  }

  .xlarge {
    width: 60vmin;
    height: 60vmin;
    left: -30vmin;
    bottom: -30vmin;
  }

  .xxlarge {
    width: 75vmin;
    height: 75vmin;
    left: -37.5vmin;
    bottom: -37.5vmin;
  }
}

@media (max-width: 480px) {
  .small {
    width: 10vmin;
    height: 10vmin;
    left: -5vmin;
    bottom: -5vmin;
  }

  .medium {
    width: 20vmin;
    height: 20vmin;
    left: -10vmin;
    bottom: -10vmin;
  }

  .large {
    width: 30vmin;
    height: 30vmin;
    left: -15vmin;
    bottom: -15vmin;
  }

  .xlarge {
    width: 40vmin;
    height: 40vmin;
    left: -20vmin;
    bottom: -20vmin;
  }

  .xxlarge {
    width: 50vmin;
    height: 50vmin;
    left: -25vmin;
    bottom: -25vmin;
  }
}