.ptag{
    font-weight:bolder;
    font-size: 50px;
    margin-top: 120px;
    font-family:sans-serif;
    align-items:start;
    justify-content:left;
    color: rgb(255, 255, 255);

}
.about
{
    font-size:30px;
    text-align: justify;
    padding: 15px;
}
.content{
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding: 50px;
    font-family: sans-serif;
  }