body{
  background-color: hsl(205deg 100% 60%);
   overflow: hidden; 
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 1;
}

.scrollable-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  overflow-y: auto;
  background: rgba(15, 9, 9, 0.1);
}